<% layout("/layouts/boilarplate") -%>
<body>
    <div class="alert alert-danger" role="alert" style="width: 40%; margin: auto; text-align: center; font-weight: bold; margin-top: 12px;">
        <%=message%> !
      </div>
</body>